@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.flex{
    display: flex;
}

.items-center{
 align-items: center;
}

.justify-center{
    justify-content: center;
}

.space-around{
    justify-content: space-around;
}

.space-between{
    justify-content: space-between;
}

.mx-2{
    margin-left: 12px ;
    margin-right: 12px;
    font-size: 0.75rem;
    font-weight: lighter;
    font-family: 'Roboto', sans-serif;
}

.my2{
    font-size: 10px;
}

